* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

.navbar,
.banner,
main,
footer {
    max-width: 1440px;
    margin: 0 auto;
}

/* Shared styles */
.primary-btn {
    background-color: #FF900E;
    color: white;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    padding: 20px 25px;
    border: none;
}

.banner-title,
.section-title,
.sponsor-title,
.features-titile {
    color: #131313;
    font-size: 4rem;
    font-weight: bold;
}

.flex {
    display: flex;
}

.bg-light {
    background: rgba(255, 144, 14, 0.1);
}

.text-gray {
    color: #727272;
}

.text-primary {
    color: #FF900E;
}

.navbar {
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 102px 0;
}

.brand {
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

.nav-links {
    gap: 30px;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 1.13rem;
    line-height: 26px;
    font-weight: 500;
    color: #424242;
}

.banner-content {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
}

.banner-description {
    color: #727272;
    line-height: 26px;
    padding: 32px 0;
}

.banner-img {
    width: 100%;
    padding: 50px 0;
}


/* Team and Our Features Section Design */

.teams {
    margin: 0px 61px;
    align-items: center;
    justify-content: space-between;
    gap: 13px;
    padding: 85px 0 130px 0;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}


.our-features {
    max-width: 537px;
}

.feature-titile {
    font-size: 2.8rem;
}

.quick-list {
    font-weight: 600;
}

.features {
    font-weight: bold;
}

.feature-description,
.features-description {
    line-height: 26px;
    margin: 24px 0 32px 0;
}

/* Features section styles */


#features-section-title {
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.features-container {
    align-items: center;
    gap: 140px;
}

.features-content {
    max-width: 586px;
}

.feature-card {
    padding: 30px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
}

.feature-card .feature-card-title {
    font-weight: 600;
    font-size: 1.25rem;
    color: #131313;
}

.feature-card-description {
    line-height: 26px;
    margin-top: 10px;
    font-weight: 500;
}

#experience-badge {
    padding: 45px 42px;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 40px;
    margin-left: -90px;
    margin-top: -100px;
}

#experience-years {
    font-size: 4rem;
    font-weight: bold;
    line-height: 70px;
}


.features-img img {
    width: 100%;
}


/* Some Facts Section Style */

.some-facts {
    padding: 130px 0 180px 0;
}

.facts-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 100px 50px 0;
}

.fact-cards {
    border: 1px solid #FF900E;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 10px 0 5px 0;
}

.fact-name {
    font-size: 1.25rem;
}

.section-title {
    margin-bottom: 24px;
}

.section-description {
    max-width: 542px;
    line-height: 26px;
}

/* Our Sponsor section styles */
.our-sponsor {
    margin-bottom: 130px;
}

.sponsor-info {
    max-width: 542px;
    margin: 0 auto;
    text-align: center;
}

.sponsor-description {
    line-height: 26px;
    margin-top: 24px;
}

.sponsor-companies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    margin-top: 50px;
}

.sponsor-companies img {
    filter: grayscale(100%);
}

/* Footer Section Styles */

.footer-content {
    border-radius: 8px;
}

.footer {
    padding: 39px 410px;
    text-align: center;
    font-size: 1.25rem;
}


/* Breakpoints: 320px, 480px, 768px, 1024px, and 1200px */


@media screen and (max-width: 320px) {

    .navbar,
    .nav-links,
    .teams,
    .features-container {
        flex-direction: column;
    }

    .nav-links {
        gap: 10px;
        margin-top: 20px;
    }

    .banner-title {
        font-size: 1.5rem;
    }

    .brand {
        font-size: 2rem;
    }

    /* Team and Features Section */

    .team-img-container,
    .sponsor-companies {
        grid-template-columns: 1fr;
    }

    .teams {
        margin: 0px;
    }

    .our-features {
        margin: 0 15px;
        text-align: center;
    }

    /* Some Facts Section Style */


    .some-facts {
        padding: 50px 0;
    }

    .facts-container {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    .section-description {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
    }

    .section-title {
        font-size: 2.5rem;
        text-align: center;
    }

    .fact-cards {
        margin: 10px auto;
    }

    /* our sponsor section */
    .sponsor-companies {
        gap: 30px;
        justify-items: center;
    }

    .sponsor-title {
        font-size: 3rem;
    }

    /* footer section style */

    .footer {
        padding: 20px;
        font-size: 1rem;
    }

    /* Features section styles */
    .features-titile {
        font-size: 2.12rem;
    }

    .features-container {
        gap: 0;
    }

    #experience-badge {
        margin-left: 20px;
        margin-top: 20px;
    }

    #experience-badge {
        padding: 15px 10px;

    }

}


@media screen and (min-width: 321px) and (max-width: 480px) {

    .navbar,
    .nav-links,
    .teams,
    .features-container {
        flex-direction: column;
    }

    .nav-links {
        gap: 10px;
        margin-top: 20px;
    }

    .banner-title {
        font-size: 2.5rem;
    }

    .banner-description {
        font-size: 1.5rem;
    }

    /* Team and Features Section */

    .team-img-container {
        grid-template-columns: 1fr;
    }

    .teams {
        margin: 0px;
    }

    .our-features {
        margin: 20px 15px 0;
        text-align: center;
    }

    /* Some Facts Section Style */


    .some-facts {
        padding: 50px 0;
    }

    .facts-container {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    .section-description {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
    }

    .section-title {
        font-size: 2.5rem;
        text-align: center;
    }

    .fact-cards {
        margin: 10px auto;
    }

    /* our sponsor section */

    .sponsor-companies {
        grid-template-columns: 1fr;
        gap: 30px;
        justify-items: center;
    }

    .sponsor-title {
        font-size: 3rem;
    }

    /* footer section styles */

    .footer {
        padding: 20px;
        font-size: 1rem;
    }

    /* Features section styles */

    .features-titile {
        font-size: 2.12rem;
    }

    .features-container {
        gap: 0;
    }

    .features-img {
        text-align: center;
    }

    #experience-badge {
        margin: 10px auto 0;
    }

    #experience-badge {
        padding: 15px 10px;

    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {

    .nav-links {
        gap: 10px;
    }

    .nav-link {
        font-size: 1.5rem;
    }

    .banner-title {
        font-size: 2.5rem;
    }

    .banner-description {
        font-size: 1.5rem;
    }


    /* Team and Features Section */
    .teams {
        flex-direction: column;
    }

    .team-img-container {
        grid-template-columns: 1fr;
    }

    .teams {
        margin: 0px;
    }

    .our-features {
        margin: 20px 15px 0;
        text-align: center;
    }

    /* Some Facts Section Style */


    .some-facts {
        padding: 50px 0;
    }

    .facts-container {
        grid-template-columns: 1fr;
        margin: 0 auto;
    }

    .section-description {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
    }

    .section-title {
        font-size: 2.5rem;
        text-align: center;
    }

    .fact-cards {
        margin: 10px auto;
    }

    /* our sponsor section */

    .sponsor-companies {
        grid-template-columns: 1fr;
        gap: 30px;
        justify-items: center;
    }

    /* footer section styles */

    .footer {
        padding: 20px;
        font-size: 1rem;
    }

    /* Features section styles */

    .features-container {
        flex-direction: column-reverse;
    }

    .features-titile {
        font-size: 3rem;
    }

    .features-container {
        gap: 0;
    }

    .features-img {
        text-align: center;
    }

    #experience-badge {
        margin: 20px auto;
    }



}


@media screen and (min-width: 769px) and (max-width: 1024px) {

    .nav-links {
        gap: 20px;
    }

    .nav-link {
        font-size: 1.5rem;
    }

    /* Team and Features Section */
    .teams {
        flex-direction: column;
    }

    .teams {
        margin: 0px;
    }

    .our-features {
        margin-top: 20px;
        text-align: center;
    }

    /* Some Facts Section Style */


    .some-facts {
        padding: 50px 0;
    }

    .facts-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .section-description {
        margin: 0 auto;
        text-align: center;
        margin-bottom: 10px;
    }

    .section-title {
        font-size: 2.5rem;
        text-align: center;
    }

    .fact-cards {
        margin: 10px auto;
    }

    /* our sponsor section */
    .sponsor-companies {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        justify-items: center;
    }

    .sponsor-item-5 {
        grid-column: span 2;
    }

    /* footer section styles */

    .footer {
        padding: 30px;
    }

    /* Features section styles */

    .features-container {
        flex-direction: column-reverse;
    }

    .features-container {
        gap: 30px;
    }

    .features-img {
        text-align: center;
    }

    #experience-badge {
        margin: 20px auto;
    }
}


@media screen and (min-width: 1025px) and (max-width: 1200px) {

    .nav-link {
        font-size: 1.5rem;
    }


    /* Team and Features Section */

    .teams {
        flex-direction: column;
    }

    .our-features {
        margin-top: 20px;
        text-align: center;
    }

    /* Some Facts Section Style */

    .facts-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 30px;
    }

    .section-description {
        margin: 0 auto;
        text-align: center;
    }

    .section-title {
        text-align: center;
    }

    /* our sponsor section */

    .sponsor-companies {
        grid-template-columns: repeat(5, 1fr);
    }

    /* footer section styles */

    .footer {
        padding: 30px;
    }

    /* Features section styles */

    .features-container {
        gap: 70px;
    }
    .features-img {
        text-align: center;
        margin: o auto;
    }
    #experience-badge {
        padding: 20px 100px;
        margin: 20px auto 0;
    }

    #experience-years {
        font-size: 2rem;
        line-height: 0px;
    }
}